{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Theo's Flask Server</strong></h1>
        <div class="row">
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Who am I?</h5>
                    <p class="card-text">
                        <ol>
                            <li>My name is Theo</li>
                            <li>I am in 11th grade</li>
                            <li>I'm taking AP Comp Sci</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">What is the Purpose of this?</h5>
                    <p class="card-text">
                        <ol>
                            <li>This is a personal python flask server</li>
                            <li>It will be used for future projects</li>
                            <li>Writing this line of code is one of my first steps</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">My Plans</h5>
                    <p class="card-text">
                        <ol>
                            <li>Learn Python in my free time</li>
                            <li>Start my own projects with Python and become comfortable with the language</li>
                            <li>Expand our to other languages</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
{% endblock %}